<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <button mat-button [matMenuTriggerFor]="menu" color="primary" aria-label="profile-menu"> Menu
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="user" mat-menu-item (click)="onMyGifts()">
        <span>My gifts</span>
      </button>
      <button *ngIf="user" mat-menu-item (click)="onAddGift()">
        <span>Add new gift</span>
      </button>
      <button *ngIf="user" mat-menu-item (click)="onLogout()">
        <span>Logout</span>
      </button>
      <button *ngIf="!user" mat-menu-item (click)="onLogin()">
        <span>Login</span>
      </button>
    </mat-menu>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="1"
    class="flex-row">
    <mat-form-field class="tags">
      <mat-chip-list #chipList aria-label="Tags selection">
        <mat-chip
          *ngFor="let tag of tagToString()"
          [selectable]="false"
          [removable]="true"
          (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          class="chip-input"
          placeholder="Tags"
          #tagInput
          [formControl]="tagsControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button (click)="onSubmitTags()" color="primary">Search</button>
    <button mat-raised-button (click)="onReset()" color="primary">Reset filters</button>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <button mat-flat-button (click)=onClick()>
      <mat-icon class="icon-50" svgIcon="gift" aria-hidden="false">
      </mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="4"
    [rowspan]="2">
    <div class="custom-slider">
      <form [formGroup]="rangeForm" class="flex-row space-between">
        <mat-form-field class="margin-right-xs">
          <input matInput placeholder="Min Value" class="lowInput" type="text" formControlName="value"
                 name="value"  (input)="onChangeLow()">
        </mat-form-field>
        <mat-form-field class="margin-left-xs" style="text-align: end;">
          <input matInput placeholder="Max Value" type="text" formControlName="highValue"
                 name="highValue" (input)="onChangeHigh()">
        </mat-form-field>
      </form>
      <ng5-slider [(value)]="_lowPrice" [(highValue)]="_highPrice" [options]="options" (userChange)="onChangeValue()">Price:</ng5-slider>
    </div>
    <mat-error>{{err}}</mat-error>
    <div>
      <button mat-button [matMenuTriggerFor]="sorting">Sort: {{sort}}</button>
      <mat-menu #sorting="matMenu">
        <button mat-menu-item (click)="sort='alpha'; onSubmitTags()">Alphabetically</button>
        <button mat-menu-item (click)="sort='asc';  onSubmitTags()">Price ascending</button>
        <button mat-menu-item (click)="sort='desc';  onSubmitTags()">Price descending</button>
        <button mat-menu-item (click)="sort='popular';  onSubmitTags()">Popularity</button>
        <button mat-menu-item (click)="sort='no';  onSubmitTags()">No</button>
      </mat-menu>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="4"
    [rowspan]="1">
    <mat-paginator #paginator [length]="allLenght"
                   [pageSize]="30"
                   (page)="pageEvent = onSubmit($event)">
    </mat-paginator>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="6">
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="gifts.length * 8 / 5">
    <div class="flex-grow align-start full-height " *ngIf="pageEvent || gifts.length>0">
      <mat-nav-list>
        <mat-list-item class="list" routerLink="/gift" [queryParams]="{ id: gift.id }" *ngFor="let gift of gifts">
          <a mat-line>
            <h3 class="link-caption">{{ gift.name }}</h3>
          </a>
          <h5 mat-line>  {{gift.description}}</h5>
          <h5 mat-line>  {{gift.price}}$</h5>
          <img *ngIf="gift.image_url.trim()" src="http://localhost:8080/{{gift.image_url.trim()}}" height="70">
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-grid-tile>

</mat-grid-list>
